    body {
            margin: 0;
            padding: 30px;
            background: #e6e9ff;
            font-family: Arial, Helvetica, sans-serif;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        h1 {
            font-size: 40px;
            color: #138387;
            margin-bottom: 20px;
        }

        .calculator {
            width: 350px;
            background: #dde2ff;
            padding: 25px;
            border-radius: 20px;
            box-shadow: 0 0 25px rgba(0,0,0,0.15);
        }